@font-face {
  font-family: Poppins-Bold;
  src: url("./Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("./Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Jost;
  src: url('./Jost-Medium.ttf');
}

@font-face {
  font-family: Terminal;
  src: url('./VT323-Regular.ttf');
}

:root {
  --cardSize: 1.3;
}

html, body {
  height: 100%;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

* {
  font-family: Poppins-Bold;;
}

p {
  font-family: Poppins;
}

.section {
  height: 100vh;
  /* min-height: 100vh;
  */
  /* overflow: hidden; */
  /* position: relative; */
  /* display: block; */
  position: table-cell;
  display: table;
  /* padding-top:5%;
  padding-bottom: 5%; */
}

#header {
  background-color: #fa9999;
  overflow: hidden;
  position: relative;
}

#header > div {
  position: absolute;
  color: #FFF6C9;

}

#header > div > h1 {
  /* font-size: 250px; */
  font-size: 15vw;
}

#header > div > h3 {
  /* font-size: 100px; */
  font-size:5vw;
}

.circle {
  position: absolute;
  height: 80vw;
  width: 80vw;
  min-height: 1300px;
  min-width: 1300px;
  background-color: rgb(8, 41, 94);
  border-radius: 50%;
  top: 0%;
}

.spinner-img {
  position: relative;;
  border-radius: 50%;
  /* background-blend-mode: ; */
  mix-blend-mode: exclusion;
  /* height: 800px;
  width: 800px; */

  /* width: 50vw; */
  height: 50vw;


  margin: 0 0;
  top: 21vh;

}

.confetti {
  /* background-color: red; */
  position: absolute;
  top: 0%;
  background-image: url('./images/confetti-10.gif'); 
  background-size: auto auto;
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;;
  mix-blend-mode: screen;
  /* opacity: 0.5; */


}

.tower {
  position: absolute;
  bottom:0;
  height: 32%;
  /* right:46%; */
}

#blurb > div {
  width: 75vw;
}

#blurb figcaption p {
  color: gray;
}

#blurb p {
  width: 100%;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  color: #1A4868;
  font-family: Poppins-Bold;
}

#members p {
  font-family: Poppins-Bold;
}

#members .h1 {
  font-size: 30rem;
  line-height: 25rem;
}

#members .h3 {
  font-size: 5rem;
}

@keyframes flickerAnimation {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0; }
  0%  { opacity:1; }
  100% { opacity:0; }
}


#members span {
  width: 30%;
  font-size: 2vw;
}
#members span:nth-child(1) { 
  animation: flickerAnimation 10s infinite;
  animation-delay: .5s;
  position: relative;
  left: 5%;
  top: 50%;
}
#members span:nth-child(2) { 
  animation: flickerAnimation 4s infinite;
  animation-delay: -1s;
  position: relative;
  left: 10%;
  top: 20%;
}
#members span:nth-child(3) { 
  animation: flickerAnimation 2s infinite;
  animation-delay: -0.4s; 
  position: relative;
  left: 30%;
  top: 2%;
}
#members span:nth-child(4) { 
  animation: flickerAnimation 9s infinite;
  animation-delay: 2s ;
  position: relative;
  left: 40%;
  top: 10%;
}
#members span:nth-child(5) { 
  animation: flickerAnimation 2s infinite;
  animation-delay: -3s;
  position: relative;
  left: 18%;
  top: 59%;
}
#members span:nth-child(6) { 
  animation: flickerAnimation 3s infinite;
  animation-delay: 4s;
  position: relative;
  left: 52%;
  top: 39%;
}
#members span:nth-child(7) { 
  animation: flickerAnimation 4s infinite;
  animation-delay: -5s;
  position: relative;
  left: 39%;
  top: 20%;
}
#members span:nth-child(8) { 
  animation: flickerAnimation 10s infinite;
  animation-delay: -6s;
  position: relative;
  left: 50%;
  top: 5%;
}
#members span:nth-child(9) { 
  animation: flickerAnimation 1s infinite;
  animation-delay: 3s;
  position: relative;
  left: 10%;
  top: 90%;
}

#side-logo {
  object-fit: cover;
  height: 50vh;
  position: fixed;
}

#anti-resume {
  background-color: #F3F2EF;
  /* background-color: red; */
  padding: 100px;
  padding-top: -20px;
  /* height: 120%; */
}

.rejection-submissions {
  font-family: Poppins-Bold;
}

#anti-resume .outter {
  background-color: white;
  position: relative;
  padding: 50px;
  border-radius: 20px;
}

#anti-resume img {
  border-radius: 50%;
  height:150px;
  position: relative;
}

.anti-resume-header {
  position: relative;
  top: -120px;
  /* background-color: red; */
}

.rejection-stats h1, .rejection-stats h5, .rejection-stats h6  {
  color: rgb(111, 111, 111);
  font-family: Poppins;
}

#anti-resume h3 {
  color:gray;
  font-family: Poppins;
}

#anti-resume .h1 {
  /* font-size: 22rem; */
  font-size: 22vw;
  /* line-height: 25rem; */
  line-height: 25vw;
  color: #2272B4;
  font-family: Poppins-Bold;
}

#anti-resume .h3 {
  /* font-size: 3rem; */
  font-size: 3.5vw;
  color: #2272B4;
  font-family: Poppins-Bold;

}

#hot-ones p {
  color: white;
}

#hot-ones img {
  height: 150px;
  position: relative;
}

#hot-ones .h1 {
  font-family: Poppins-Bold;
  font-size: 300px;
  text-shadow: 0 0 25px white;
  /* background-color: red; */
  line-height: 20rem;
}

#hot-ones .h4 {
  font-family: Poppins-Bold;
  font-size: 40px;
  text-shadow: 0 0 5px white;
}

.hot-ones-text {
  font-size: 100px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: #FFDC27  ;
  -webkit-text-stroke-fill: rgba(0, 0, 0, 0);

  text-shadow: 0 0 50px #FFDC27;
}

#hot-ones h3 {
  font-size: 30px;
  -webkit-text-stroke-width: 2px;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 80% {
    opacity: 1;
    box-shadow: inset 0 0 30px red;

	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.8;
    box-shadow: inset 0 0 10px red;
  }
}

.hot-ones-background {
  padding: 20px;;
  border: rgb(243, 89, 89) solid 4px;
  box-shadow: inset 0 0 30px red;
  border-radius: 20px;
  animation: flicker 6s linear infinite;
}

#hot-sauce-img {  
  margin: 0 auto;
  filter: drop-shadow(0 0 20px #ffffff);;
}

.computer{
  height: 80%;
  width: 95%;
  /* background-color: #343434;
  border: silver 30px solid;
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}

.computer p {
  /* font-size: 60px; */
  font-size: 4vmax;
}

#website {
  background-color: black;
}

#website {
  color: rgb(0, 255, 0);
  /* color: white; */
}

#website .h1, #website p, #website span {
  font-family: Terminal;
  /* font-size: 75px; */
  font-size:8vmax;
  /* font-size: 5em; */
}

#website p {
  font-size: 4vmax;
}

#website span {
  color: blue;
  font-size: 4vmax;
}

.computer > div {
  width: fit-content;
}

.cursor {
  animation: flickerAnimation 1s steps(1) infinite;
}

#swm {
  background-color: rgb(232, 231, 231);
}

#swm .h1 {
  font-size: 50px;
  font-family: Poppins-Bold;
}

#swm .card {
  background-color: #AD0101;
  font-family: Jost;
  padding: 25px;
  color: white;
  font-size: calc(27px * var(--cardSize));
  height: calc(300px * var(--cardSize));
  width: calc(210px * var(--cardSize));;
  border-radius: 20px;
  box-shadow: 0 0 20px lightgray;
  line-height: 3rem;
}

#swm .card > span {
  text-decoration: underline;
  font-size: calc(50px * var(--cardSize));
  text-decoration-thickness: 0.05em;
  line-height: 4rem;
}

#swm .blank {
  /* background-color: rgba(0, 0, 0, 0); */
  background-color: white;
  perspective: 1000px;
  /* border: none;;
  box-shadow: none; */
}

#swm .rotate {
  background-color: rgba(0, 0, 0, 0);
  border: none;;
  box-shadow: none;
  border-radius: 20px;
}

.blank img {
  width: 40%;
  height: auto;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  45% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.blank .inner-card {
  animation: rotate 5s infinite alternate;
  
}

.inner-card img {
  width: 33%;
}

.inner-card {
  background-color: white;
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.front-inner-card, .back-inner-card {
  backface-visibility: hidden;
  box-shadow: 0 0 20px lightgray;
  border-radius: 20px;
}

.back-inner-card {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.back-inner-card p, a {
  color:#AD0101;
}

#interviews {
  background-color: #ffd0d0;
}

#interviews p {
  font-family: Poppins-Bold;
}

#interviews .h1 {
  font-size: 30rem;
  line-height: 25rem;;
}

#interviews .h3 {
  font-size: 5rem;
}

#interviews img {
  height:20vw;
  width: auto;
  border-radius: 50%;
}

@keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
  20%{color: red;}
  30%{color: CadetBlue;}
  40%{color: yellow;}
  50%{color: coral;}
  60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
  100%{color: orange;}
}

#spectrum {
  background-color: #e8e8ee;
  display: flex;
  flex-direction: column;
}

#spectrum .row:nth-child(2) {
  flex: 1;
}

@keyframes hue {
  100% { filter: hue-rotate(-360deg); }
}

#spectrum img {
  max-width: 100%;
  height: auto;
  /* filter: hue-rotate(130deg); */
  animation: hue 5s linear infinite;
}


#spectrum >div:nth-child(1) .h1 {
  font-size: 6vw;
  font-family: Poppins-Bold;
  animation: rainbow 20s infinite;
}

#spectrum >div:nth-child(2) .h1 {
  font-size: 15vw;
  font-family: Poppins-Bold;
  line-height: 20vh;
}

#spectrum .h3 {
  font-size: 3vw;
  font-family: Poppins-Bold;
}

#spectrum > div:nth-child(2) {
  text-shadow: white 0 0 10px;
}

#social-media {
  background-color: rgb(250, 250, 250);
  background-image: url('./images/likes2.png');
  background-size: 100% auto;
}

#social-media div {
  height: 20%;
}

#social-media .square {
  background-color: white;
  position: relative;
  width: 400px; 
  height: 400px;
  box-shadow: lightgray 0 0 20px;
  border-radius: 10px;
}

#social-media h1 {
  font-family: Poppins-Bold;
  font-size: 7rem;;
}

#social-media img {
  height: 40px;
  width: auto;
}